<html lang="fr">
<head>
    <title>Connexion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">
    <meta name ="author" content="BARMAN Rayan & MICHIELS Alexis">
    <meta name="description" content="Projet des familles">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <script src="./assets/bootstrap/js/jquery.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .alert {
            position: fixed;
            width: 100%;
            z-index: 9999;
            text-align: center;
        }
    </style>
    <script src="./assets/js/global.min.js"></script>
</head>
<body>
    <div class="alert alert-danger" role="alert" style="display: none">
    <strong>Erreur!</strong> <span class="message">You should check in on some of those fields below.</span>
    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>